.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  box-shadow: 1px 0px 4px grey;
  margin: 4px;
  width: 100%;
  padding: 12px;
  height: 22px;
  border: none;
  border-radius: 4px;
}

.textArea {
  box-shadow: 1px 0px 4px grey;
  margin: 4px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.btn {
  width: 114px;
  align-self: flex-end;
  margin-top: 10px;
  border: none;
  background: #ff7603;
  color: #FFF;
  font-weight: bold;
  border-radius: 4px;
  height: 24px;
  cursor: pointer;
}

.card {
  width: 250px;
  box-shadow: 0px 0px 4px #000;
  min-height: 80px;
  margin: 3px;
  border-radius: 4px;
}

.card-header {
  display: flex;
  flex-direction: row;
  padding: 3px;
  justify-content: space-between;
  color: #38b0a8; 
  font-weight: bold;
}

.card-body { 
  padding: 3px;
}

.card-delete {
  background: #948c8c;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  color: #FFFF;
  font-weight: bold;
  cursor: pointer;
  margin: -6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-dashed {
  border-style: dashed;
  color: #948c8c;
} 